/*************** HEADER ***************/
.cabecalhoPrincipal .container {
    /* faz com que o container se comporte como um exbox, ou seja, ele controlará o layout de seus lhos.
       Por padrão, os lhos terão a mesma altura e alinhados à esquerda; */
    display: flex;
    align-items: center; /* centraliza verticalmente os elementos lhos dentro do pai; */
    justify-content: space-between; /* distribui entre os elementos o espaço que está sobrando. */
}


.cabecalhoPrincipal-nav {
    display: flex;
}



/*************** FOOTER ***************/
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}


.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around; /* espaço ao entorno dos elementos */
    width: 70%;
    margin-right: 5%;
}


.rodapePrincipal-contatoForm {
    width: 25%;
}



/*************** COURSE MAP ***************/
.rodapePrincipal-navMap-list {
    display: flex;
    height: 250px; /* we fixed a height for this section */
    flex-direction: column; /* changes the (default) direction (row) to column */
    flex-wrap: wrap; /* if the flex elements "break" the height/size, it goes to next column */
    /*flex-flow: column wrap;*/ /* this options is the short-version of the two lines above */
}